//- Pick colors from this site: https://www.materialpalette.com/colors
-
  const categoryColors = [
    { cat: 'Modal', color: '#8c6e57' },
    { cat: 'List', color: '#ddbea9' },
    { cat: 'Edit', color: '#cb997e' },
    { cat: 'Popup', color: '#b7b7a4' },
    { cat: 'Gallery', color: '#a5a58d' },
    { cat: 'Categories', color: '#6b705c' },
  ];

mixin column(data, num)
  th= (num)
  td
    - if(data.url == '')
        span.page-list__link= data.title
    - else
        a(href=data.url + '.html' style='color: #fff; text-decoration: underline' target='_blank').page-list__link= data.title
  td= data.categories
  td
    - if(data.ticketID != '')
        a(href=`https://backlog.jp/view/${data.ticketID}` target='_blank' style='color: #fff; text-decoration: underline')= data.ticketID
  td
    - if(data.url != '')
        span.page-list__file-name= data.url + '.html'

mixin page-list(data)
  .page-list
    h1.page-list__title Page list [Project name]
    table.table
      thead
        tr
          th #
          th Link
          th Categories
          th Ticket ID
          th Name Of Screen
      each ent, num in data
        - let found = false
        each color in categoryColors
          if color.cat === ent.categories
            - found = true
            tr(style=`background-color: ${color.color}`)
              +column(ent, num)
        if !found
          tr.gray
            +column(ent, num)
